.svg {
        margin-top: 100px;
        position: relative;
    }

    .cls-2 {
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 3px;
        transition: .5s;
        display: block;
        fill: transparent;
    }

    .cls-2:hover{
        fill: #fff;
    }
    .transparent{
        fill: transparent;
        stroke: transparent;
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .9);
        opacity: 0;
        transition: .5s;
        z-index: -1
    }
    
    .overlay-show{
        opacity: 1;
        transition: .5s; 
    }