
<div class="svg">
    <svg data-name="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1925.82 589">
        <path class="cls-2" d="M195.73,188,.73,297Z" transform="translate(1.49)" [ngClass]="{'transparent': hover}"/>
        <circle class="cls-2" cx="323.22" cy="162" r="126"  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()" [ngClass]="{'transparent': hover}"/>
        <polyline class="cls-2" points="430.97 227.35 613.72 361.5 614.72 362.5" [ngClass]="{'transparent': hover}"/>
        <line class="cls-2" x1="2.22" y1="297" x2="0.73" y2="297.83" [ngClass]="{'transparent': hover}"/>
        <line class="cls-2" x1="197.22" y1="188" x2="199.24" y2="186.88" [ngClass]="{'transparent': hover}"/>
        <circle class="cls-2" cx="692.72" cy="461.5" r="126"  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()"  [ngClass]="{'transparent': hover}"/>
        <circle class="cls-2" cx="921.72" cy="130.5" r="126"  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()" [ngClass]="{'transparent': hover}"/>
        <circle class="cls-2" cx="1232.72" cy="447.5" r="126"  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()" [ngClass]="{'transparent': hover}"/>
        <polyline class="cls-2" points="1029.36 196.03 1031.72 198.5 1164.72 341.5" [ngClass]="{'transparent': hover}"/>
        <line class="cls-2" x1="1431.72" y1="239.5" x2="1341.38" y2="383.68" [ngClass]="{'transparent': hover}"/>
        <circle class="cls-2" cx="1492.72" cy="127.5" r="126"  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()" [ngClass]="{'transparent': hover}"/>
        <polyline class="cls-2" points="1922.72 334.5 1603.72 194.5 1601.72 193.5" [ngClass]="{'transparent': hover}"/>
        <path class="cls-2" d="M2102.23,256.5" transform="translate(1.49)" [ngClass]="{'transparent': hover}"/>
        <line class="cls-2" x1="858.22" y1="238" x2="776.71" y2="367.57" [ngClass]="{'transparent': hover}"/>
        <polyline class="cls-2" points="1922.32 334.32 1923.59 334.94 1925.31 335.56" [ngClass]="{'transparent': hover}"/>
        <path class="cls-2" d="M-412-85" transform="translate(1.49)" [ngClass]="{'transparent': hover}"/>
    </svg>
</div>
<div class="overlay" [ngClass]="{'overlay-show': hover}"></div>
