<div class="wrapper">
    <ul class="timeline">
        <li  (mouseover) ="mouseEnter()" (mouseout) ="mouseLeave()">
            <div class="line"></div>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
    </ul>

    <div class="overlay" [ngClass]="{'overlay-show': hover}"></div>
</div>
