<!-- <div class="wrapper">
    <ul class="timeline">
        <li >
            <div class="line"></div>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
        <li>
            <div class="timeline-image"></div>
            <div class="line"></div>
        </li>
    </ul>

    <div class="overlay" [ngClass]="{'overlay-show': hover}"></div>
</div> -->
<div class="wrapper">
    <!-- 1 -->
    <div class="line"></div>
    <div class="circle"></div>
    <!-- 2 -->
    <div class="line"></div>
    <div class="circle"></div>
    <!-- 3 -->
    <div class="line"></div>
    <div class="circle"></div>
    <!-- 4 -->
    <div class="line"></div>
    <div class="circle"></div>
    <!-- 5 -->
    <div class="line"></div>
    <div class="circle"></div>
    <div class="line"></div>
</div>
