.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    z-index: 100;
    li{
        margin: auto 15px auto 15px;
        color: #ffffff;
        cursor: pointer;
        &:hover{
            color: #acacac
        }
    }
}